<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.applypilot.supervisor</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/Claw/.applypilot/bin/supervise_applypilot.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/Claw/Documents/ChatGPT/jobs/ApplyPilot</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/Claw/Documents/ChatGPT/jobs/ApplyPilot/.venv/bin:/Users/Claw/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>StandardOutPath</key>
  <string>/tmp/applypilot-supervisor.out</string>
  <key>StandardErrorPath</key>
  <string>/tmp/applypilot-supervisor.err</string>
</dict>
</plist>
